@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  max-width: 576px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  text-decoration: none;
  color: initial;
  margin: 0;
}

.page {
  position: relative;
  width: 100%;
  height: calc(100vh - 41px);
  padding: 1rem .5rem;
  overflow-y: auto;
}
